*.log 
ryu/
*.egg
*.eggs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.egg-info/
*.egg
dql_flask/
my_project_venv/

# Logs
*.log

# Temporary files
*~
*.tmp
*.temp

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env